[submodule "themes/hugo-tania"]
	path = themes/hugo-tania
	url = https://github.com/WingLim/hugo-tania
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
